{% extends "base.html" %}

{% block content %}

               <h2>Last completed tasks:</h2>

                {% for completed_item in completed_items %}
                    <li class="list-group-item text-muted mt-2">{{ completed_item.text }}
                        <div class="float-right">   
                            <form action="delete_todo/{{ completed_item.id }}/" method="post"> {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}

                
            </ul>
        </div>
    </div>
{% endblock content %}