{% extends "base.html" %}

{% load static %}

{% block content %}

    <h2>Last completed tasks:</h2>

    <div class="row mt-4">
        <div class="col">
            <div id="completed_table">
            <ul class="list-group" id="completed">
                {% for completed_todo in completed_todos %}
                    <li class="list-group-item text-muted mt-2">{{ completed_todo.text }} 
                        <div class="float-right">   
                            <form class="my_class_delete_list" id="todo_{{ completed_todo.pk }}" data-href="{% url 'delete_todo_ajax' completed_todo.pk %}" method="post"> {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}               
            </ul>
        </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'main/js/scripts.js' %}"></script>
{% endblock %}