{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block head %}

    {# Include FontAwesome; required for icon display #}
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

    {# Include jQuery for calendar #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    {# Django Tempus Dominus assets are included in `{{ form.media }}` #}
    {{ form.media }}

{% endblock head %}

{% block content %}

  <div id='add_new_div' class="row mt-4">
        <div class="col-12">
            <h2>What have you to do?</h2>
            <form id="add_new" method="post"> {% csrf_token %}

                {{ form.text| as_crispy_field }}

                <label for="id_deadline" class=" requiredField">
                    Category<span class="asteriskField">*</span>
                </label>
                <select id="category_select" class="font-italic custom-select mb-2">
                  {% for category in category_list %}
                    <option id="{{category.id}}">{{ category.title }}</option>
                  {% endfor %}
                </select>

                {{ form.deadline | as_crispy_field }}

                <button type="submit" id="add" class="btn btn-primary btn-lg btn-block mt-2">Add</button>

            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <ul class="list-group">
                <div id="comming_tasks">
                {% if todo_items %}
                <h2>Coming tasks:</h2>
                  {% for todo_item in todo_items %}
                
                    <li class="list-group-item mb-2">{{ todo_item.text }}
                        <button type="submit" 
                            {% if todo_item.category.title == "General" %}
                                class="ml-2 btn btn-primary"
                            {% elif todo_item.category.title == "Work" %}
                                class="ml-2 btn btn-success"
                            {% elif todo_item.category.title == "Health/Body" %}
                                class="ml-2 btn btn-warning"
                            {% elif todo_item.category.title == "Study" %}
                                class="ml-2 btn btn-danger"
                            {% elif todo_item.category.title == "Body" %}
                                class="ml-2 btn btn-info"
                            {% elif todo_item.category.title == "Other" %}
                                class="ml-2 btn btn-secondary"
                            {% endif %}
                            ><a id="category_button" href="{% url 'category_template' todo_item.category.id %}">{{ todo_item.category}}</a></button>

                        <div class="float-right">   
                            <form class="my_class_complete" id="todo_{{ todo.pk }}" data-href="{% url 'complete_todo_ajax' todo_item.pk %}" method="post"> {% csrf_token %}
                                <button type="submit" class="btn btn-success">l have already did this</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
                </div>
                {% endif %}
             </ul>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'main/js/scripts.js' %}"></script>
{% endblock %}